<style>

.logoTop{
    display: flex;
    align-items: center;
}

.logoTop2{
    margin-left:20px;
}
h1{
    color:teal;
    font-size: 30px;
}
p{
    color: black;
}
p2{
    color: gray;
}
p3 {
    font-size: 40px;
}
body{
    background-color: powderblue;
}
.EntryWord{
    width: 1000px;
    height: 100px;
    font-size: 45px;
    background-color:transparent;
    border: none;
    outline: none;
}
.submit{
    width: 75px;
    height: 50px;
}
.prizebox{
    position: absolute;
    margin:260px auto 0 auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@keyframes swing-in-top-bck {
    0% {
        transform: rotateX(70deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

.swing-in-top-bck {
    animation: swing-in-top-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) 5s both;
    width: 180px;
    height: 180px;
}

.Author{
    margin-left:20px;
    font-size: 12px;
}

.LJMUlogo{
    width: 175px;
    height: auto;
}

#box div
{
    position: absolute;
    height: 250px;
    width: 250px;
    border: 1px solid lightgrey;
    background: rgba(255,200,100,0.8);
    text-align: center;
    font-size: 200px;
}

#box
{
    -webkit-animation-name: animation;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    margin:80px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 125px 125px 0;
}

#box .one
{
    -webkit-transform: translateZ(125px);
}
#box .two
{
    -webkit-transform: rotateX(-90deg) translateZ(125px);
}
#box .three
{
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
}
#box .four
{
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
}
#box .five
{
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
}
#box .six
{
    -webkit-transform: rotateY(90deg) translateZ(125px);
}

@-webkit-keyframes animation
{
    from,to{}
    16% { -webkit-transform: rotateY(-90deg);}
    33% { -webkit-transform: rotateY(-90deg) rotateZ(135deg);}
    50% { -webkit-transform: rotateY(225deg) rotateZ(135deg);}
    66% { -webkit-transform: rotateY(135deg) rotateX(135deg);}
    83% { -webkit-transform: rotateX(135deg);}
}

</style>